.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    flex: 1;
    text-align: center;
    margin-right: 20px; /* Adjust the margin as needed */
    padding: 20px; /* Add padding to create space for the shadow */
}

.MainTitle {
    font-family: 'Mooli', sans-serif;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow to the text */
}

.CodeDescription {
    font-family: 'Mooli', sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.imgcode {
    height: 500px; /* Set the height of the image */
    float: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow to the image */
}
