.MainTitle {
    font-family: 'Mooli', sans-serif;
    text-align: center;

}

.CodeDescription {
    font-family: 'Mooli', sans-serif;
    margin-top: 60px;
    margin-right: 800px;
}

.imgcode {
    object-position: 500px;
}