.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.text-container {
    flex: 1;
    text-align: center;
    margin-right: 20px;
    padding: 10px; 
}

.MainTitle {
    font-family: 'Mooli', sans-serif;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.CodeDescription {
    font-family: 'Mooli', sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.imgcode {
    height: 500px; 
    float: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    margin-right: 42.5px;
}


.githubtext {
    font-family: 'Mooli', sans-serif;
    text-align: center;
}


@media only screen and (min-width: 480px) {
    .imgcode {
        width: 43.6%;
        height: auto;
    }
}